:root {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 70vw;
    margin-inline: auto;
    border: solid 1px;
    border-radius: 15px;
  }
  
  h3 {
    padding-left: 3vw;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  
  .task {
    padding-inline: 0.6rem;
    padding-block: 0.4rem;
  }
  
  label {
    color: #072828;
  }
  